body {
  text-align: center;
  background-color: #011f3f;
  position: relative;
}
#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 2.5rem;
  margin: 2%;
  color: #fef2bf;
}
.container {
  display: block;
  width: 55%;
  margin: auto;
}
.btn {
  margin: 20px;
  display: inline-block;
  height: 170px;
  width: 170px;
  border: 10px solid black;
  border-radius: 20%;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.startBtn {
  padding: 10px 10px;
  border: none;
  font-size: 15px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  position: absolute;
  top: 50%;
  left: 10%;
}

.startBtn {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
}
.startBtn {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}

/* Tablet  */
@media (min-width: 767px) and (max-width: 1030px) {
  .btn {
    height: 120px;
    width: 120px;
  }
  .container {
    width: 70%;
  }
  #level-title {
    font-size: 2.5rem;
  }
  .startBtn {
    top: 110%;
    left: 42%;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .btn {
    height: 90px;
    width: 90px;
    margin: 18px;
  }
  .container {
    width: 75%;
    margin-top: 50px;
  }
  #level-title {
    font-size: 2rem;
  }
  .startBtn {
    top: 120%;
    left: 38%;
  }
}

/* Small mobile */
@media only screen and (max-width: 420px) {
  .btn {
    height: 80px;
    width: 80px;
    margin: 7px;
    border: 5px solid black;
  }
  .container {
    margin-top: 100px;
    width: 80%;
  }
  #level-title {
    font-size: 1.5rem;
  }
  .startBtn {
    top: 110%;
    left: 33%;
  }
}
